@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("./parallax.background.animation.css");

:root {
    --bgColor: #02350b;
    --bgColor2: #040404;
    --accentColor: #fff;
    --accentColor2: #fff /*#068c1e*/;
    --font1: "Montserrat", sans-serif;
    --font2: "Poppins", sans-serif;
    --delay: 0.3s;
    --bgimg: url(https://r4.wallpaperflare.com/wallpaper/955/598/490/nature-sky-light-landscape-wallpaper-b96088ed114a0d0bf607e86f20e1a65d.jpg);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font1);
    animation: 1s ease-out var(--delay) 1 transitionAnimation;
    animation-fill-mode: forwards;
    position: relative;
    background: radial-gradient(
        ellipse at bottom,
        var(--bgColor) 0%,
        var(--bgColor2) 100%
    );
    opacity: 0;
    position: relative;
    overflow: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: var(--bgimg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

#profilePicture,
#profilePicture img {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px;
    border-radius: 8px;
    display: block;
}

#name,
#username,
#description {
    color: var(--accentColor);
    display: block;
    font-family: var(--font1);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

#username {
    font-size: 14px;
    line-height: 1;
}

#description {
    font-size: 12px;
    font-weight: lighter;
    line-height: 2;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: 2px solid var(--accentColor);
    border-radius: 8px;
    font-family: var(--font2);
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 10px;
    padding: 12px;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
    backdrop-filter: brightness(150%), blur(3px);
}

#bottom_text {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 10px;
    display: block;
    font-family: var(--font1);
    width: 100%;
    text-align: center;
}

@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}